@mixin centerEverything($orientation: row) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: $orientation; /* works with row or column */
  flex-direction: $orientation;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
